{% load static %}

<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AJ Photography</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<header>
		<a class="site-logo">
			<img class="logo" src="{% static 'images/Watermark_new_2.png' %}">
		</a>
		<nav class="site-nav">
			<ul>
				<li><a href="/">PORTFOLIO</a></li>
				<li><a href="/AboutMe">ABOUT ME</a></li>
				<li><a href="/Contact">CONTACT</a></li>
			</ul>
		</nav>
	</header>

	<section class="kids-photo">
		<figure>
			<img alt="kids" src="{% static 'images/IMG_2776-3.jpg' %}" class="kids">
		</figure>
	</section>
	
	<section class="maternity-shoot1">
		<article class="mothers1">
			<div class="megha-kid1">
				<figure>
					<img alt="megha_kalyan1" src="{% static 'images/IMG_4411-2.jpg' %}" class="megha_kalyan1">
				</figure>
			</div>
			<div class="megha-kid2">
				<figure>
					<img alt="megha_kalyan2" src="{% static 'images/IMG_4482-1.jpg' %}" class="megha_kalyan2">
				</figure>
			</div>		
		</article>
	</section>
	
	<section class="maternity-shoot2">
		<article class="mothers2">
			<div class="bhuvanesh-kid1">
				<figure>
					<img alt="baby_scan" src="{% static 'images/IMG_5542-1.jpg' %}" class="baby_scan">
				</figure>
			</div>
			<div class="bhuvanesh-kid2">
				<figure>
					<img alt="lemondrop" src="{% static 'images/Lemon Drop.jpg' %}" class="lemondrop">
				</figure>
			</div>		
		</article>
	</section>
	
		
	<section class="maternity-shoot3">
		<article class="mothers3">
			<div class="bhuvanesh-kid3">
				<figure>
					<img alt="adish" src="{% static 'images/IMG_3981-1.jpg' %}" class="adish">
				</figure>
			</div>
			<div class="bhuvanesh-kid4">
				<figure>
					<img alt="bhuvanesh" src="{% static 'images/IMG_5707-2.jpg' %}" class="bhuvanesh">
				</figure>
			</div>		
		</article>
	</section>
	
	<section class="section4">
		<article class="fireworks">
			<div class="fireworks-1">
				<figure>
					<img alt="July4_colorado" src="{% static 'images/IMG_5971-2.JPG' %}" class="fireworks_image">
				</figure>
			</div>
			<div class="fireworks-2">
				<figure>
					<img alt="Sep4_Toronto" src="{% static 'images/IMG_9993-2-3.jpg' %}" class="fireworks_image">
				</figure>
			</div>		
		</article>
	</section>
	
	<section class="section5">
		<figure>
			<img alt="sunraise" src="{% static 'images/DSC_1403-3.jpg' %}" class="sun">
		</figure>
	</section>
	
	<section class="section6">
		<figure>
			<img alt="sunraise" src="{% static 'images/IMG_5932-3.JPG' %}" class="sun">
		</figure>
	</section>
	
	<footer>
		<div class="footer-content">
			<div class="footer-info">
				<p class="footer-credit">Website design by AJ</p>
				<p class="footer-legal">Copyright &copy; All rights reserved.</p>
			</div>
		</div>
	</footer>
	
</body>
</html>
