{% load static %}

<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Thank You</title>
	<link rel="stylesheet" href="{% static 'css/thankyou-styles.css' %}">
</head>

<body>
	<header>
		<a class="site-logo">
			<img class="logo" src="{% static 'images/Watermark_new_2.png' %}">
		</a>
		<nav class="site-nav">
			<ul>
				<li><a href="#">PORTFOLIO</a></li>
				<li><a href="#">ABOUT ME</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
		</nav>
	</header>

	
	<div class="thankyou-note">
		<h1>Thank you for reaching us! We sent a confirmation to your inbox.</h1>
	</div>
</body>
</html>
